.history-template {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  background-color: #eeeeee;
}

.history-chat-wrapper {
  width: 40vw;
  border-radius: 10px;
  background-color: #fff;
}

.video-mentor-wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 50vw;
}
.history-chat-title {
  color: #444c54;
  font-size: 1.7rem;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(134, 134, 134, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  border-radius: 1rem;
}

@media only screen and (max-width: 1200px) {
  .history-template {
    display: contents;
    flex-direction: column;
    padding: 10px;
  }
  .video-mentor-wrapper {
    padding: 0;
    width: 100%;
  }
}
