.main-container {
  /* display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 55vw 45vw;
  background-color: #eeeeee;
}

.history-chat-wrapper {
  width: 40vw;
  border-radius: 10px;
  background-color: #fff;
}

.video-mentor-wrapper {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.history-chat-title {
  color: #444c54;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.listed-question {
  cursor: pointer;
}

.listed-question:hover {
  background: rgb(196, 239, 255);
}

@media only screen and (max-width: 1200px) {
  .main-container {
    display: contents;
    flex-direction: column;
    padding: 10px;
  }
  .video-mentor-wrapper {
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-height: 1000px) {
  .chat-thread {
    height: 72vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
@media screen and (min-height: 700px) {
  .chat-thread {
    height: 64vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
@media screen and (min-height: 800px) {
  .chat-thread {
    height: 65vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
@media screen and (min-height: 900px) {
  .chat-thread {
    height: 70vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
@media screen and (min-height: 1400px) {
  .chat-thread {
    height: 72vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
@media (min-width: 1650px) {
  .chat-thread {
    height: 73vh;
  }
  .scrolling-questions-container {
    height: 72vh;
  }
}
